li.navli {
    display: inline;
    float: right;
    color: rgba(0,0,0,0.87);
}
ul.navnav {
    float: right;
    list-style-type: none;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
}
li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
    color: rgba(0,0,0,0.87);
}
a:hover {
    text-decoration: underline;
}
.apps {
    height: 20px;
    width: 19px;
}
div.logo {
    display: block;
    height: 233px;
    margin-top: 47px;
}
.logo img {
    height: 92px;
    width: 272px;
    padding-top: 109px;
}   
button {
    background-color: transparent;
    border: none;
}
#glass{
    height: 44px;
    width: 33px;
    display: inline;
}
#glass img {
    height: 20px;
    width: 20px;
    display: inline;
    padding-top: 9px;
}
#keyboard{
    height: 44px;
    width: 40px;
    padding-top: 7px;
    display: inline;
}
#kybrd img{
    height: 24px;
    width: 24px;
    padding-top: 7px;
    display: inline;
}
#microphone {
    height: 44px;
    width: 40px;
    display: inline;
}
#mick img{
    height: 24px;
    width: 24px;
    padding-top: 7px;
    display: inline;
}
main {
    text-align: center;
}
.barsrch input {
    height: 34px;
    width: 447px;
    background-color: transparent;
    border: none;
    margin-top: -37px;
}
div.barsrch {
    width: 560px;
    height: 39px;
    border: 1px solid #f2f2f2;;
    margin: 0 auto;
    border-radius: 34px;
}
div .buttons {
    padding-top: 30px;
}
input.butt{
    height: 36px;
    margin: 11px 4px;
    padding: 0 16px;
    background: #f2f2f2;
    border: 1px solid #f2f2f2;
    color: rgb(95, 99, 104);
    border-radius: 4px;
}
input.butt:hover {
    border: 1px solid #5F6368;;
    color: rgba(0,0,0,0.87);
    border-radius: 4px;
}
#lucky {
    margin-left: 10px;
}
div.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #f2f2f2;
    border-top: solid 0.3px rgba(0,0,0,.54);
}
div.line1{
    position: relative;
    text-align: left;
    padding-left: 15px;
    width: 100%;
    height: 30px;
    border-bottom: solid 0.3px rgba(0,0,0,.54);
}
div.line2{
    width: 100%;
}
p {
    color: rgba(0,0,0,.54);
}
li.fl {
    display: inline;
    float: left;
}
ul.footl {
    float: left;
    list-style-type: none;
    overflow: hidden;
    position: relative;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
}
li.fr {
    display: inline;
    float: right;
}
ul.footr {
    float: right;
    list-style-type: none;
    overflow: hidden;
    position: relative;
    bottom: 0;
    right: 0;
    margin: 0;
    padding: 0;   
}
li a.bot {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: rgba(0,0,0,.54);
  }
a.bot:link {
    text-decoration: none;
    color: rgba(0,0,0,.54);
}
a.bot:visited {
    text-decoration: none;
    color: rgba(0,0,0,.54);
}
a.bot:hover {
    text-decoration: underline;
}